/* CSS Document */
body{
	font-family:Yekan !important;
	border-top:solid 2px #0d2b81;
	border-bottom:solid 2px #0d2b81;
	background-image:url(../images/subtle_white_feathers.png);
	}
@font-face{
	font-family:'Yekan';
	src:url('../fonts/BYekan.eot');
	src:url('../fonts/BYekan.eot#iefix') format('eot'),url('../fonts/BYekan.woff') format('woff'),url('BYekan.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
.glyphicon{
	color:#0D2B81 !important;
}
.footer p{
	text-align:center;
	padding:1em 0;
	margin:1em 0;
	}
.btn-primary {
	font-weight:bold;
    color: #FFF;
    background-color: #1198d2;
    border-color: #1198d2;
}
.btn-primary:hover{
    color: #1198d2 !important;
    background-color: #FFF !important;
    border-color: #1198d2 !important;
}

.download{
	font-size:28px;
	}
.sample{
	font-size:22px;
	}
.masthead{
	font-size:13px;
	}
.nav li a:hover , .nav li a:focus{
	background:none;
	}
.nav li:hover , .nav li:focus{
	background-color:#eee;
	box-shadow:inset 0 0 1px #333;
	}
.nav-justified > li:first-child > a{
	border-radius:0;
	}
.footer{
	border-top:solid 1px #428bca;
	}